.glass {
  overflow: hidden;
  background: hsla(0, 0%, 100%, 0.3);
  position: relative;
}

.glass::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(1rem);
  z-index: -1;
}
.fp-tableCell,
.glass::before {
  background: url('http://localhost:3000/lava_bg.svg') 0 / cover no-repeat fixed;
  /* background-position: center; */
}
